# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
id_rsa
bin/
vendor/
*.db
*.zip
*.tgz
*.log

# java file which is copied to run automation test
artifacts_txutil.sh
jar/

# nonce files which is generated when doing transactions
test/nonce.json
nonce.json

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# IDE
.vscode/

.DS_Store
